@import 'FreelancerSelection-all_1.css';
@import 'FreelancerSelection-all_2.css';


.x-grid-td {
    overflow: hidden;
    border-width: 0;
    vertical-align:middle;
}


.save-button, .save-button span {
	background-color:#5FA2DD;
	color:#ffffff;
}


.save-button:hover, .save-button:hover span {
	background-color:#4894d6;
	color:#ffffff;
}


.boldRightBorder {
	/*border-right: 1px solid #D0D0D0;*/
}

.boldLeftBorder {
	border-left: 1px solid #D0D0D0;
}


#assignments-grid .x-grid3-cell-inner {
	font-size: 10px;
}


.x-form-cb-label {
	font-size: 12px;
}